<article>
	<h1>移动端互动单页 要素演示</h1>
	<p>Find me in app/views/pages/home.html.erb</p>
	<nav>
		<ul>
			<li>全屏滑动 - 全屏幕 过渡效果</li>
			<li>动画效果 - 动效实现 统一触发 交互动画</li>
			<li>动态布局 - 分层 占满 居中 </li>
			<li>设备姿态 - 横纵 平竖</li>
			<li>交互操作 - 摇一摇 刮一刮 多点 滑动</li>	
			<li>加载优化 - 预加载 延迟加载</li>
			<li>音频 - 播放 循环 兼容性</li>
			<li>视频 - 嵌入 适应性</li>
			<li>地图 - 嵌入 获取</li>
			<li>表单 - 表单优化 校验 提交</li>
			<li>分享到 - 库 浮层 其他玩法</li>
		</ul>
		<ul>
			<li>开发流程</li>
			<li>开发工具</li>
			<li>开发实践</li>
		</ul>
		<ul>
			<li>思维转换</li>
			<li>如何协作</li>
		</ul>
	</nav>
</article>
